{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" $author) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{end}}

{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.avatar.shape | default "circle" }}

{{ $generatedFileSrc := (printf "/content/authors/%s/generated.json" $author) }}
{{ $generatedFileData := "" }}
{{ if (fileExists $generatedFileSrc) }}
{{ $generatedFileData = getJSON $generatedFileSrc }}
{{ end }}

<!-- About widget -->
<div class="row">
  <div class="col-12 col-lg-4">
    <div id="profile">
      {{ if $generatedFileData }}
        {{ if $generatedFileData.user.avatar_template }}
        {{ $src := $generatedFileData.user.avatar_template }}
        {{ $src = replace $src "{size}" 270}}
        {{ $src = printf "https://forums.ohdsi.org%s" $src}}
        {{ if $src }}
        <img class="avatar {{ .class }} {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="{{$src}}" alt="{{$person.name}}">
        {{ end }}
        {{ end }}
      {{else}}
        {{ if site.Params.avatar.gravatar }}
        <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=270')" alt="{{$person_page.Title}}">
        {{ else if $avatar }}
        {{ $avatar_image := $avatar.Fill "270x270 Center" }}
        <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="{{ $avatar_image.RelPermalink }}" alt="{{$person_page.Title}}">
        {{ end }}
      {{end }}
      
      <div class="portrait-title">
        {{ if $generatedFileData }}
        {{ if $generatedFileData.user.name }}
        <h2>{{ $generatedFileData.user.name }}</h2>
        {{ end }}
        {{ else }}
        {{ if $person_page.Title }}
        <h2>{{ $person_page.Title }}</h2>
        {{ end }}
        {{ end }}

        {{ with $person.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}

        {{ range $person.organizations }}
        <h3>
          {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
          <span>{{ .name }}</span>
          {{ if .url }}</a>{{ end }}
        </h3>
        {{ end }}
      </div>
      {{ partial "network_links" (dict "network" $person.accounts "generatedFileData" $generatedFileData) }}
    </div>
  </div>
  <div class="col-12 col-lg-8">

    {{/* Only display widget title in explicit instances of about widget, not in author pages. */}}
    {{ if and $page.Params.widget $page.Title }}<h1>{{ $page.Title | markdownify | emojify }}</h1>{{ end }}
    {{ $person_page.Content }}

    <div class="row">
      {{ if $person.bio }}
        <p>{{ $person.bio }}</p>
      {{ else }}
        {{ if $generatedFileData }}
        {{ if $generatedFileData.user.bio_raw }}
        <p>{{ $generatedFileData.user.bio_raw }}</p>
        {{ end }}
        {{ end }}
      {{ end }}

      {{ with $person.interests }}
      <div class="col-md-5">
        <h3>{{ i18n "interests" | markdownify }}</h3>
        <ul class="ul-interests">
          {{ range . }}
          <li>{{ . | markdownify | emojify }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

      {{ with $person.education }}
      <div class="col-md-7">
        <h3>{{ i18n "education" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .courses }}
          <li>
            <i class="fa-li fas fa-graduation-cap"></i>
            <div class="description">
              <p class="course">{{ .course }}{{ with .year }}, {{ . }}{{ end }}</p>
              <p class="institution">{{ .institution }}</p>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

    </div>
  </div>
</div>
